@import '../../styles/common';

.base {
    --arrow-margin-visual: 16px;
    --arrow-size: 24px;
    --arrow-padding: 6px;
    --slide-padding: 24px;
    --arrow-margin: calc(var(--arrow-margin-visual) - var(--slide-padding));
    --arrow-full-width: calc(var(--arrow-size) + var(--arrow-margin) + var(--arrow-padding) * 2);
    --slider-full-width: calc(100% + var(--arrow-full-width) * 2 + var(--slide-padding) * 2);

    display: flex;
    width: var(--slider-full-width);
    position: relative;
    left: calc(-1 * (var(--arrow-full-width) + var(--slide-padding)));
}

.arrow {
    cursor: pointer;
    border: none;
    background: transparent;

    &:first-child {
        margin-right: var(--arrow-margin);
    }

    &:last-child {
        margin-left: var(--arrow-margin);
    }

    &:disabled {
        cursor: default;
    }
}

.arrow,
.arrow svg {
    transition: none;
}

.base swiper-container {
    flex-grow: 1;
}

.base swiper-slide {
    padding: $grid-gap;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--min-card-width), 1fr));
    grid-gap: $grid-gap;
    height: 100%;
    width: 100%;
}

.base swiper-slide>* {
    width: 100%;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}