@import '../styles/common';

.section {
	margin-bottom: 48px;
}

.section:last-child {
	margin-bottom: 0;
}

.section>h5 {
	display: flex;
	justify-content: space-between;
}

.seeAllButton {
	margin-top: 16px;
}