@import '../styles/common';

.section {
	margin-bottom: 48px;
}

.section:last-child {
	margin-bottom: 0;
}

.section>h5 {
	display: flex;
	justify-content: space-between;
}

.sectionCarousel {
	display: flex;
}

.sectionArrow {
	cursor: pointer;
	border: none;
	background: transparent;

	&:first-child {
		margin-right: 16px;
	}

	&:last-child {
		margin-left: 16px;
	}
}

.seeAllButton {
	margin-top: 16px;
}