@import '../styles/common';

.wrapper {
	p,
	address {
		margin: 0 0 16px;
		font-family: $serif;
		font-style: normal;
		font-size: 15px;
		line-height: 1.5;
	}
}

.iframe {
	max-width: 400px;
	min-width: 310px;
	max-height: none !important;
	margin-bottom: 16px;
}

.heading {
	margin-bottom: 32px;
}

.rule {
	margin: 24px 0;
}

.paragraphSmall.paragraphSmall {
	margin-top: 16px;
	font-size: 11px;
	line-height: 1.21;
}
