@import '../styles/common';

.wrapper {
	max-width: 1042px;

	p {
		margin: 0 0 16px;
	}
}

.tagline {
	font-size: 48px;
	margin-bottom: 8px;
}

.narrow.narrow {
	max-width: 560px;
	margin: 0 auto 32px;
}

.testimoniesHeading {
	margin-bottom: 32px;
}

.slideCard {
	padding-left: 1rem;
	padding-right: 1rem;
}

.blogSection {
	margin: 48px;
}

.posts {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 16px;
}
.postsSquare {
	grid-template-columns: repeat(2, 1fr);
}

.featuresWrapper {
	margin-bottom: 48px;
}
.unpaddedSlide {
	margin: 0;
}

.footer {
	margin-bottom: 8px;
	display: flex;
	align-items: center;
	justify-content: space-between;

	h3 {
		font-size: 18px;
	}
}
