@import '../styles/common';

.header {
	display: flex;
	align-items: center;
	padding: 2rem;
	justify-content: space-between;
}

.nav {
	& > * {
		margin-left: 1rem;
	}
}

.languages {
	display: inline-flex;
	align-items: center;
	& > * {
		margin-left: 0.5rem;
	}
}
