.list {
  padding-left: 0;
  li {
    list-style-type: none;
  }
}

.filters {
  border: 1px solid gray;
  float: right;
  background-color: white;
  padding: 1em;
  & > *:first-child {
    margin-top: 0;
  }
  & > *:last-child {
    margin-bottom: 0;
  }
}
