@import '../../styles/common';

.playlistsAlert {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 24px auto 16px;
	padding: 16px;
	background: $ts-dark;
	color: $ts-white;
	border-radius: 8px;
	line-height: 1.2;
	> a {
		margin-top: 16px;
		font-size: 12px;
	}
	@media (min-width: $breakpoint-md) {
		flex-direction: row;
		align-items: center;
		max-width: 740px;
		> a {
			margin-top: 0;
			margin-left: 32px;
		}
	}
}
