@import '../../styles/common';

.wrapper {
	margin-top: 76px;
}

.membersOnlyAlert {
	max-width: 600px;
}

.membersOnlyHeading {
	margin-bottom: 8px;
}

.membersOnlyCopy {
	margin-top: 0;
	margin-bottom: 32px;
}
