.playlistList {
	display: flex;
	flex-direction: column;
	max-height: 400px;
	overflow-y: auto;
}

.gradientOverlay {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 30px;
	background: linear-gradient(to top, white, rgba(255, 255, 255, 0));
	pointer-events: none;
}

.scrollIndicator {
	text-align: center;
	font-size: 12px;
	color: #888;
	position: absolute;
	bottom: 10px;
	width: 90%;
}

.playlistItem {
	padding: 16px;
	border: 1px solid #ccc;
	border-radius: 8px;
}

.pressable {
	cursor: pointer;
}

.container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
