@import '../../styles/common';

.container {
	background: $ts-dark;
	padding: 16px 24px;
}

.image {
	position: relative;
	width: 100%;
	height: 242px;
}

.date {
	margin-top: 16px;
	margin-bottom: 8px;
	color: $ts-salmon;
}

.title {
	margin-bottom: 8px;
	color: $ts-white;
}

.countLabel,
.duration {
	color: $ts-lightTone;
}
.countLabel {
	margin-top: 16px;
	margin-bottom: -4px;
}

.cardGroup {
	margin-bottom: 24px;
}

.row {
	display: flex;
	align-items: center;
	margin-bottom: -4px;
	> *:first-child {
		flex-grow: 1;
	}
}
.iconButton {
	margin-left: 8px;
}

.seeAllButton {
	margin-bottom: 24px;
}
