@use 'sass:math';
@import '../../styles/common';

.container {
	padding: $tease-padding;
	background: $ts-dark;
}

.imageRow {
	@media (min-width: $breakpoint-md) {
		display: flex;
		justify-content: space-between;
	}
	> .image {
		flex: 0 0 calc(50% - #{math.div($grid-gap, 2)});
		@media (min-width: $breakpoint-xl) {
			flex: 0 0 calc(33.3333% - #{math.div($grid-gap, 1.5)});
		}
	}
	> .image + * {
		flex: 0 0 calc(50% - #{math.div($grid-gap, 2)});
		@media (min-width: $breakpoint-xl) {
			flex: 0 0 calc(66.6667% - #{math.div($grid-gap, 3)});
		}
	}
}

.image {
	position: relative;
	width: 100%;
	margin-bottom: 16px;
	border-radius: 8px;
	overflow: hidden;
	> * {
		border-radius: 8px;
	}
	> img {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		max-width: 100%;
		border-radius: 0;
		box-shadow: $ts-shadow-small-default;
	}
}
.imageBackdrop {
	filter: blur(8px);
}

.date {
	margin-top: 16px;
	margin-bottom: 8px;
	color: $ts-salmon;
}

.title {
	margin-bottom: 8px;
	color: $ts-white;
}

.countLabel,
.duration {
	color: $ts-lightTone;
}
.countLabel {
	margin-top: 16px;
	margin-bottom: -4px;
}

.cardGroup {
	padding: 10px;
	margin-bottom: 24px;
	background-color: $ts-white;
	border-radius: 8px;
}

.row {
	display: flex;
	align-items: center;
	margin-bottom: -4px;
	> *:first-child {
		flex-grow: 1;
	}
}
.iconButton {
	margin-left: 8px;
}

.seeAllButton {
	margin-bottom: 24px;
}
