@import '../../../styles/common';

.column {
	display: flex;
	flex-direction: column;
	padding: 16px;
	background: $ts-bibleVersionH;
	cursor: pointer;
}

.title {
	color: $ts-white;
}

.booksLabel {
	color: $ts-lightTone;
}

.book {
	margin-top: 16px;
}

.showAll {
	margin-top: 16px;
	color: $ts-white;
}
