@import '../../../styles/common';

.card.card {
	box-shadow: none;
}

.container {
	padding: 16px;
	background: $ts-bibleH;
	transition-duration: $transition-medium;
	&,
	&:hover {
		color: $ts-white;
	}
	&:hover {
		background-color: $ts-darkened-bibleH;
	}
}

.title {
	font-size: 19px;
	font-weight: 400;
	letter-spacing: 3.8px;
	text-align: center;
	text-transform: uppercase;
}
