@import '../../../styles/common';

.container {
	display: flex;
	flex-direction: column;
	padding: 16px;
	border-radius: 16px;
	overflow: hidden;
	color: $ts-white;
	background-color: $ts-dark;
}

.imageContainer {
	height: 124px;
	position: relative;
}

.date {
	margin-top: 16px;
	margin-bottom: 8px;
	color: $ts-salmon;
}

.title {
	margin-bottom: 8px;
	flex-grow: 1;
}

.details {
	display: flex;
	align-items: center;
}

.sequencesLabel,
.duration {
	color: $ts-lightTone;
}

.sequencesLabel {
	margin-top: 16px;
	margin-bottom: 3.5px;
}

.duration {
	line-height: 1.21;
}

.progress {
	margin-left: 16px;
	flex-grow: 1;
	--progressColor: #{$ts-salmon};
}

.like {
	display: none;
	margin-top: -6px;
	@media (any-pointer: fine) {
		display: inherit;
	}
	&Active {
		display: inherit;
	}
}

.progress + .like {
	margin-left: 16px;
}
