@import '../../../styles/common';

.card {
	position: relative;
	display: flex;
	border-radius: 16px;
	box-shadow: $ts-shadow-small-default;
	overflow: hidden;
	text-align: left;

	> * {
		flex-grow: 1;
		max-width: 100%;
	}

	*:hover {
		text-decoration: none;
	}
}
