@import '../../../styles/common';

%common-styles {
	position: relative;
	display: flex;
	overflow: hidden;
	text-align: left;

	> * {
		flex-grow: 1;
		max-width: 100%;
	}

	*:hover {
		text-decoration: none;
	}
}

.card {
	@extend %common-styles;
	border-radius: 16px;
	box-shadow: $ts-shadow-small-default;
}

.card_fullBleed {
	@extend %common-styles;
	max-height: fit-content !important;
	border-bottom: 1px solid #ddd;
}
