@import '../../../styles/common';

$container-padding: 16px;
.container {
	display: flex;
	flex-direction: column;
	padding: $container-padding;
	border-radius: 16px;
	overflow: hidden;
	background-color: $ts-smartPlaylistH;
	transition: background-color $transition-medium;
	&,
	&:hover {
		color: $ts-dark;
	}
	&:hover {
		background-color: $ts-darkened-smartPlaylistH;
	}
}

.stretch {
	flex-grow: 1;
}

.title {
	display: flex;
	align-items: center;
	margin-bottom: 8px;
}

.image {
	display: flex;
	margin-right: 8px;
}

$like-icon-size: 32px;
$like-icon-padding: 8px;
.details {
	display: flex;
	align-items: center;
	margin-top: 4px;
	@media (any-pointer: fine) {
		margin-right: #{$like-icon-size + $like-icon-padding};
	}
	&.detailsWithLike {
		margin-right: #{$like-icon-size + $like-icon-padding};
	}
}

.teachingsLabel {
	line-height: 32px;
}

.like {
	display: none;
	position: absolute;
	bottom: $container-padding;
	right: $container-padding;
	@media (any-pointer: fine) {
		display: inherit;
	}
	@media (pointer: coarse) {
		pointer-events: none;
	}
	&Active {
		display: inherit;
	}
}
