@import '../../../styles/common';

.container {
	height: 100%;
	display: flex;
	flex-direction: column;
	background-color: $ts-white;
	transition-duration: $transition-medium;
	&,
	&:hover {
		color: $ts-dark;
	}
	&:hover {
		background-color: $ts-darkened-white;
	}
}

.content {
	flex-grow: 1;
	padding: 16px;
	display: flex;
	flex-direction: column;
}

.date {
	color: $ts-red-on-white;
	margin-bottom: 4px;
	font-weight: 600;
}

.teaser,
.duration {
	margin-top: 0;
	margin-bottom: 0;
	color: $ts-midTone;
}

.teaser + .flexGrow {
	margin-top: 16px;
}

.flexGrow {
	flex-grow: 1;
	display: flex;
	align-items: flex-end;
}

.type {
	margin: 16px 16px 0;
}

.alternate {
	margin: 0 16px 0;
}
