@import '../../../styles/common';

.container {
	display: flex;
	flex-direction: column;
	padding: 16px;
	border-radius: 16px;
	overflow: hidden;
	color: $ts-dark;
	background-color: $ts-cream;
}

.stretch {
	flex-grow: 1;
}

.date {
	margin-top: 16px;
	margin-bottom: 8px;
	color: $ts-salmon;
}

.title {
	margin-bottom: 8px;
	flex-grow: 1;
}

.kicker {
	margin-bottom: 8px;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	line-clamp: 3;
	overflow: hidden;
	p {
		margin-top: 0;
	}
}

.persons > * {
	margin-right: 8px;
	margin-bottom: 8px;
}

.partsLabel {
	color: $ts-dark;
	margin-top: 16px;
}

.details {
	display: flex;
	align-items: center;
}

.duration {
	color: $ts-midTone;
	line-height: 1.21;
}

.progress {
	margin-left: 16px;
	flex-grow: 1;
}

.like {
	display: none;
	margin-top: -6px;
	@media (any-pointer: fine) {
		display: inherit;
	}
	&Active {
		display: inherit;
	}
}

.progress + .like {
	margin-left: 16px;
}
