@import '../../../styles/common';

$container-padding: 16px;
.container {
	display: flex;
	flex-direction: column;
	padding: $container-padding;
	border-radius: 16px;
	overflow: hidden;
	background-color: $ts-cream;
	transition: background-color $transition-medium;
	&,
	&:hover {
		color: $ts-dark;
	}
	&:hover {
		background-color: $ts-darkened-cream;
	}
}

.stretch {
	flex-grow: 1;
}

.date {
	margin-top: 16px;
	margin-bottom: 8px;
	color: $ts-salmon;
}

.title {
	margin-bottom: 8px;
	flex-grow: 1;
}

.kicker {
	margin-bottom: 8px;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	line-clamp: 3;
	overflow: hidden;
	p {
		margin-top: 0;
	}
}

.persons > * {
	margin-right: 8px;
	margin-bottom: 8px;
}

.partsLabel {
	color: $ts-dark;
	margin-top: 16px;
}

$like-icon-size: 32px;
$like-icon-padding: 8px;
.details {
	display: flex;
	align-items: center;
	@media (any-pointer: fine) {
		margin-right: #{$like-icon-size + $like-icon-padding};
	}
	&.detailsWithLike {
		margin-right: #{$like-icon-size + $like-icon-padding};
	}
}

.duration {
	color: $ts-midTone;
	line-height: 1.21;
}

.progress {
	margin-left: 16px;
	flex-grow: 1;
}

.like {
	display: none;
	position: absolute;
	bottom: $container-padding;
	right: $container-padding;
	@media (any-pointer: fine) {
		display: inherit;
	}
	@media (pointer: coarse) {
		pointer-events: none;
	}
	&Active {
		display: inherit;
	}
}
