@import '../../../styles/common';

.card_fullBleed {
	position: relative;
	overflow: hidden;
	border-bottom: 1px solid #ddd;
	border-radius: 0;
	box-shadow: none;
	padding-bottom: 0;
	*:hover {
		text-decoration: none;
	}
	--cardHoverColor: #{$ts-white};
	--hatBg: #{$ts-white};
	--hatHoverColor: #{$ts-white};
}
.sponsor {
	margin-bottom: 0 !important;
	--hatBg: #{$ts-white} !important;
	--hatHoverColor: #{$ts-white} !important;
}
