.content {
	padding: 16px;
	color: var(--cardColor);
}

.title {
	margin-top: 18px;
}

.summary {
	font-size: 16px;
	margin-top: 8px;
}

.count {
	color: var(--cardColor);
}

.duration {
	font-size: 14px;
	margin-top: 3.5px;
	margin-bottom: 0;
}
