.theme {
	height: 100%;
}

.content {
	padding: 16px;
	color: var(--cardColor);
	display: flex;
	flex-direction: column;
	height: 100%;
}

.title {
	margin-top: 18px;
}

.summary {
	font-size: 16px;
	margin-top: 8px;
	flex-grow: 1;
}

.count {
	color: var(--cardColor);
}

.duration {
	font-size: 14px;
	margin-top: 3.5px;
	margin-bottom: 0;
}