@import '../../../styles/common.scss';

.books.grid .book {
	width: 16%;
	display: inline-block;
}

.books > li:first-child button {
	padding-top: 16px;
}

.books > li:last-child button {
	padding-bottom: 16px;
}

.books {
	width: 100%;
}

.books button:hover {
	color: $ts-salmon;
}

.books li.active button {
	color: $ts-salmon;
}
