@import '../../styles/common';

.body {
	&,
	& > * {
		font-family: $serif;
		font-size: 15px;
		line-height: 1.5;
	}
	ol,
	ul {
		margin: 0;
		padding-left: 24px;
	}
	li {
		margin-bottom: 16px;
	}
	hr {
		border: none;
		border-top: 1px solid $ts-cream;
		margin: 32px 0;
	}
	iframe {
		max-width: 100%;
		border: none;
		background: none;
	}
}
