@import '../../styles/common';

.container {
	padding: 24px;
	border: 1px solid $ts-lightTone;
	border-radius: 16px;
	max-width: 560px;
}

.subheading {
	margin-bottom: 24px;
}

.sectionHeading {
	margin-bottom: 8px;
}
.intro {
	margin: 0 0 16px;
}

.buttonRow {
	display: flex;
	flex-direction: row-reverse;
	margin-top: 24px;
}
