.wrapper {
	margin: 64px auto;
	max-width: 450px;
	> * {
		display: flex;
		flex-direction: column;
		margin: 0 32px;
	}
}

.header {
	text-align: center;
}

.intro {
	margin-top: 32px;
	margin-bottom: 24px;
}

.submit {
	width: 200px;
	justify-content: center;
	margin: 32px auto 0;
}
