$serif: ivyjournal, serif;

// T&S Named Colors
$ts-egw: #3d1212;
$ts-white: #ffffff;
$ts-bibleB: #f1f2f4;
$ts-bibleH: #000000;
$ts-bibleVersionH: #313131;
$ts-bookB: #5d4d4d;
$ts-bookH: #483232;
$ts-cream: #efebeb;
$ts-dark: #323e48;
$ts-black: #000000;
$ts-lightTone: #cdd9e3;
$ts-midTone: #6b7680;
$ts-red: #ff224a;
$ts-salmon: #ff6e6e;
$ts-playlistB: #e3f8ee;
$ts-playlistH: #004530;
$ts-smartPlaylistH: #f3f5fa;
$ts-songB: #f2f9ff;
$ts-songH: #d7ebfb;
$ts-storyB: #325763;
$ts-storyH: #003849;
$ts-topicB: #3e3d6d;
$ts-topicH: #040253;
$ts-bufferTone: #a5afb8;

$ts-cccccc: #cccccc;

$ts-darkened-egw: #2c0d0d;
$ts-darkened-white: #f8f8f8;
$ts-darkened-bibleB: #e4e7ea;
$ts-darkened-bibleH: #292929;
$ts-darkened-bookB: #534141;
$ts-darkened-bookH: #382525;
$ts-darkened-cream: #e8e3e3;
$ts-darkened-lightTone: #b5c4d1;
$ts-darkened-dark: #232b32;
$ts-darkened-playlistB: #d4f0e3;
$ts-darkened-playlistH: #003928;
$ts-darkened-smartPlaylistH: #e7e9ee;
$ts-darkened-songB: #e3effa;
$ts-darkened-songH: #c9def0;
$ts-darkened-storyB: #284d58;
$ts-darkened-storyH: #002b38;
$ts-darkened-topicB: #333262;
$ts-darkened-topicH: #03013e;

$ts-shadow-small-default: 0px 4px 10px rgba(0, 0, 0, 0.15);
$ts-shadow-small-hover: 0px 4px 16px rgba(0, 0, 0, 0.3);

$breakpoint-sm: 516px;
$breakpoint-md: 664px;
$breakpoint-lg: 894px;
$breakpoint-xl: 1230px;

$transition-quick: 150ms;
$transition-medium: 300ms;
$transition-long: 600ms;

$loading-animation-duration: 5s;

$sidebar-width: 230px;
$miniplayer-height: 90px;

$header-minWidth: 571px;
$header-maxWidth: 771px;

$grid-gap: 12px;

$tease-padding: 16px 24px;

$content-maxWidth-sm: 520px;
$content-maxWidth: 1500px;
