$gray-night: #1c1c1d;
$gray-dark: #242426;

// taken from T&S Figma 5/19/2021, marketing home section bg
$gray-mid: #323e48;

$gray-light: #747474;
$gray-lighter: #dbdbdb;
$gray-lightest: #e5e5e5;

// taken from T&S Figma 5/14/2021, sidebar border line
$gray-bleached: #cdd9e3;

$accent: #3da88e;
