html,
body,
#__next,
.template-base {
	padding: 0;
	margin: 0;
	height: 100vh;
}

* {
	box-sizing: border-box;
}

/* Material UI Customizations */

.MuiButton-root.MuiButton-text,
.MuiButton-root.MuiButton-text:hover {
	text-decoration: underline;
	text-underline-offset: 2px;
}
