@mixin sansFontFamily {
	font-family: 'Inter', 'system-ui', sans-serif;

	@supports (font-variation-settings: normal) {
		font-family: 'InterVariable', 'system-ui', sans-serif;
	}
}

// https://gist.github.com/chasewoodford/2939636
@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@mixin fadeIn($duration) {
	animation: fadeIn $duration;
}
