// START INTER FONT

// TODO: Extract into separate file

@use "~inter-ui/default" with (
  $inter-font-display: swap,
  $inter-font-path: '~inter-ui/Inter (web)'
);
@use "~inter-ui/variable" with (
  $inter-font-display: swap,
  $inter-font-path: '~inter-ui/Inter (web)'
);

@include default.all;
@include variable.all;

// END INTER FONT

// START IVY JOURNAL FONT

@import url('https://use.typekit.net/bgc2sqi.css');

// END IVY JOURNAL FONT

// START normalize.css

@import '../../node_modules/normalize.css/normalize.css';

// END normalize.css

@import './common.scss';

html {
	font-family: $sans;
}

@supports (font-variation-settings: normal) {
	html {
		font-family: 'Inter var', 'system-ui', sans-serif;
	}
}

* {
	box-sizing: border-box;
}

html {
	font-size: 14px;
}

html,
body,
#__next,
.template-base {
	padding: 0;
	margin: 0;
	height: 100vh;
	color: $ts-dark;
}

h1,
h2,
h3,
h4 {
	font-family: $headingFont;
}

h1 {
	font-size: 44px;
	line-height: 48.4px;
	margin-top: 0;
	margin-bottom: 16px;
}

h2 {
	font-size: 22px;
	line-height: 24.2px;
}

h6 {
	font-size: 10px;
	line-height: 12px;
}

a {
	color: inherit;
	text-decoration: none;

	&:hover {
		color: $ts-red;
		text-decoration: underline;
	}
}

.template-base {
	display: flex;

	> *:first-child {
		flex: 0 0 200px;
		border-right: 0.5px solid $gray-bleached;
	}

	> * {
		flex: 0 0 100%;
		overflow: scroll;
	}
}

p {
	line-height: 1.3em;
}

/* Material UI Customizations */

.MuiButton-root.MuiButton-text,
.MuiButton-root.MuiButton-text:hover {
	text-decoration: underline;
	text-underline-offset: 2px;
}

.MuiButton-root.MuiButton-contained.MuiButton-containedPrimary {
	border-radius: 4px;
	padding: 8px;
	background-color: $ts-red;
	color: white;
	box-shadow: 0 4px 10px 0 #00000026;
	font-size: 12px;
	font-weight: 700;
}

.MuiSlider-root.MuiSlider-colorPrimary {
	color: $ts-dark;
	.MuiSlider-thumb {
		color: white;
		box-shadow: 0 4px 10px 0 #00000026;
		width: 16px;
		height: 16px;
		margin-top: -7px;
		margin-left: -8px;
	}
}

/* Video.js Customizations */

.video-js {
	.vjs-poster {
	}
}
