@import '/src/styles/common';

.card {
	margin-bottom: 16px;
}

.container {
	padding: 16px;
	background-color: $ts-smartPlaylistH;
	transition-duration: $transition-medium;

	&:hover {
		background-color: $ts-darkened-smartPlaylistH;
	}

	display: flex;
	flex-direction: column;

	&:hover {
		color: $ts-dark;
	}

	@media (min-width: $breakpoint-lg) {
		flex-direction: row;
		align-items: center;
	}
}

.container::after {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	width: 200px;
	height: 100%;
	background: linear-gradient(
		to left,
		$ts-smartPlaylistH,
		rgba(255, 255, 255, 0)
	);
	z-index: 1;
	pointer-events: none;
	transition: background 0.3s ease;
}

.container:hover::after {
	background: linear-gradient(
		to left,
		$ts-darkened-smartPlaylistH,
		rgba(255, 255, 255, 0)
	);
}

.heading {
	position: relative;
	z-index: 3;
}

.image {
	flex: 0 0 32px;
	margin-right: 8px;
}

.nameLockup {
	display: flex;
	align-items: center;
}
.textWrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-grow: 1;

	@media (min-width: $breakpoint-lg) {
		flex-direction: row;
		align-items: center;
	}
}
.name {
	font-size: 20px;
	width: 100%;
	margin-bottom: 4px;
	@media (min-width: $breakpoint-lg) {
		width: auto;
		margin-bottom: 0;
		margin-right: 16px;
	}
}

.summary {
	width: 100%;
	color: $ts-midTone;
	font-size: 16px;
	line-height: 1.21;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;

	@media (min-width: $breakpoint-lg) {
		width: auto;
	}
}
