@import '../../styles/common';

.base {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	overflow: hidden;
}

.content {
	flex: 1 1 0;
	min-height: 0;
	display: flex;
}

.miniplayer {
	flex: 0 0 90px;
	background-color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-top: 1px solid $ts-cream;
}

.player {
	flex: 0 0 auto;
	margin-right: 1rem;
}

.meta {
	padding: 2rem;
}

.volume {
	display: flex;
	align-items: center;
	min-width: 150px;
}
