@import '../../styles/common';

.base {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	flex-grow: 1;
	background: $ts-white;
	height: 100vh;
}

.content {
	min-height: 0;
	flex: 1 1 auto;
	padding-top: 24px;
	padding-bottom: 96px;
	overflow: scroll;

	@include content-horizontal-padding();
}

.search {
	margin-bottom: 24px;
}

.searchActive,
.hideMobileSearch {
	display: none;
}

@media (min-width: $breakpoint-lg) {
	.base {
		flex-direction: row;
	}

	.content {
		flex: 0 1 100vw;
	}

	.searchActive,
	.hideMobileSearch {
		display: flex;
	}
}
