@import '../../styles/common';

.positioner {
	position: relative;
}

.wrapper {
	background: $ts-white;
}

.base {
	display: flex;
	align-items: stretch;
	flex-grow: 1;
}

.mobileHeader {
	position: sticky;
	top: 0;
	display: flex;
	flex-direction: column;
	margin-bottom: 32px;
	z-index: 10;
}
.mobileHeader,
.mobileHeaderTitle,
.mobileSubnavWrapper {
	background: $ts-cream;
}
.mobileHeaderTitle {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 24px calc(24px + env(safe-area-inset-right)) 22px
		calc(24px + env(safe-area-inset-left));
	z-index: 1;
	> :first-child {
		flex-grow: 1;
	}
	> :nth-child(n + 2) {
		margin-left: 16px;
	}
}
.mobileSubnavWrapper {
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
}
.mobileSubnav {
	display: flex;
	align-items: center;
	position: relative;
	margin: 0 calc(24px + env(safe-area-inset-right)) 8px
		calc(24px + env(safe-area-inset-left));
}
.mobileSubnavItems {
	height: 24px;
	margin-right: 16px;
	flex-wrap: wrap;
	overflow: hidden;
}
.mobileHeaderMore {
	position: absolute;
	right: 0;
	height: 24px;
}

.navigation {
	position: fixed;
	height: 100%;
	width: 100vw;
	top: 0;
	display: flex;
	flex-direction: column;
	padding: 24px 24px calc(24px + env(safe-area-inset-bottom));
	background: $ts-cream;
	z-index: 1000;
	transition: transform $transition-medium;
	transform: translateX(100%);
}
.header {
	display: none;
}

.navigationShown {
	transform: translateX(0%);
}

.content {
	flex: 0 1 100vw;
	padding: 24px calc(24px + env(safe-area-inset-right)) 24px
		calc(24px + env(safe-area-inset-left));
	max-width: 100vw;
	margin: 0 auto;
	@media (min-width: $content-maxWidth-sm) {
		max-width: $content-maxWidth-sm;
	}
	@media (min-width: $breakpoint-md) {
		max-width: 100vw;
	}
	@media (min-width: $content-maxWidth) {
		max-width: $content-maxWidth;
	}
}

.searchBox {
	margin-bottom: 24px;
	&:not(.searchShown) {
		display: none;
	}
}

@media (min-width: $breakpoint-lg) {
	.mobileHeader {
		display: none;
	}
	.header {
		display: block;
		margin: 32px;
	}
	.navigation {
		position: fixed;
		width: $sidebar-width;
		padding: 0;
		overflow: scroll;
		transform: translate(0);
		animation: none;
		background: $ts-white;
		z-index: unset;
	}
	:global(.andMiniplayer--withPlayer) .navigation {
		padding-bottom: $miniplayer-height;
	}
	.content {
		flex: 0 0 100vw;
		padding-left: #{$sidebar-width + 24px};
		display: flex;
		flex-direction: column;
	}
	.searchBox.searchBox {
		display: inherit;
	}
}

@media (min-width: $breakpoint-xl) {
	.content {
		padding-left: #{$sidebar-width + 35px};
	}
}
