@import '../../styles/common';

.positioner {
	position: relative;
}

.wrapper {
	background: $ts-white;
}

.base {
	display: flex;
	align-items: stretch;
	flex-grow: 1;
}

.content {
	--maxWidth: 100vw;

	@media (min-width: $content-maxWidth-sm) {
		--maxWidth: #{$content-maxWidth-sm};
	}

	@media (min-width: $breakpoint-md) {
		--maxWidth: 100vw;
	}

	@media (min-width: $content-maxWidth) {
		--maxWidth: #{$content-maxWidth};
	}

	--maxWidthPadding: calc((100vw - var(--maxWidth)) / 2);

	flex: 0 1 100vw;
	padding-top: 24px;
	padding-bottom: 36px;
	padding-right: calc(24px + env(safe-area-inset-right) + var(--maxWidthPadding));
	padding-left: calc(24px + env(safe-area-inset-left) + var(--maxWidthPadding));
	height: 100vh;
	overflow: scroll;
}

.searchBox {
	margin-bottom: 24px;

	&:not(.searchShown) {
		display: none;
	}
}

@media (min-width: $breakpoint-lg) {
	.content {
		display: flex;
		flex-direction: column;
	}

	.searchBox.searchBox {
		display: inherit;
	}
}