@import '../../styles/common';

.base {
	display: flex;
	align-items: stretch;
	flex-grow: 1;
}

.header {
	flex: 0 0 200px;
	display: flex;
	overflow: scroll;
}

.content {
	flex: 0 0 calc(100% - 200px);
	padding: 2rem;
	overflow: scroll;
}
