@use '../../styles/mixins.scss';

@import '../../styles/common';

.hat {
	background-color: $ts-bibleH;
	padding: 16px 24px;
	display: block;
	text-decoration: none;
	h4 {
		margin: 2px 0 0;
		font-size: 16px;
	}
	&,
	&:hover {
		color: $ts-white;
	}
	&:hover {
		text-decoration: none;
		background: $ts-darkened-bibleH;
	}
}

.content {
	display: flex;
	flex-direction: column;
	background: $ts-bibleB;
	> * {
		padding: $tease-padding;
	}
	p {
		margin-top: 8px;
		margin-bottom: 16px;
	}
	@media (min-width: $breakpoint-xl) {
		flex-direction: row;
	}
}

.main {
	flex-grow: 1;
	--recordingAccent: #{$ts-red};
	--recordingWavesColor: #{$ts-lightTone};

	@media (min-width: $breakpoint-xl) {
		max-width: 66.6666%;
	}
}

.sequenceNav a {
	background-color: transparent;
}

.definitions {
	margin: 64px 0 0;
}

.disclaimer {
	font-size: 11px;
	line-height: 13.31px;
	margin-bottom: 16px;
}

.readAlong {
	margin-bottom: 64px;
}

.backButton {
	margin-bottom: 16px;
}

.chapterText {
	font-family: $serif;
	font-size: 15px;
	line-height: 22.25px;
	sup {
		top: -4px;
		@include mixins.sansFontFamily();
		font-size: 11px;
		font-weight: 700;
		color: $ts-midTone;
	}
}

.chapters {
	position: relative;
	background-color: $ts-bibleB;
	.item {
		margin-bottom: 32px;
	}
	@media (min-width: $breakpoint-xl) {
		flex: 1 0 33.3333%;
		min-width: 300px;
		max-width: 468px;
		border-left: 1px solid $ts-bibleH;
	}
}
@media (min-width: $breakpoint-xl) {
	.chaptersScroller {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		overflow: auto;
		margin: 24px 0;
		> * {
			padding: 0 24px;
		}
	}
	.chapterHeading {
		position: sticky;
		top: 0;
		margin-bottom: 0;
		padding-bottom: 16px;
		background: $ts-bibleB;
		z-index: 1;
	}
}
.chaptersItems {
	@media (min-width: $breakpoint-md) {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		> * {
			flex: 1 0 calc(50% - 32px);
			&:nth-child(odd) {
				margin-right: 16px;
			}
			&:nth-child(even) {
				margin-left: 16px;
			}
		}
	}
	@media (min-width: $breakpoint-xl) {
		display: block;
		> * {
			margin-left: 0 !important;
			margin-right: 0 !important;
		}
	}
}

.overflowShadow {
	display: none;
	@media (min-width: $breakpoint-xl) {
		display: block;
		position: absolute;
		height: 82px;
		top: 54px;
		left: 0;
		right: 0;
		pointer-events: none;
		background: linear-gradient(
			0deg,
			rgba($ts-bibleB, 0) 0%,
			rgba($ts-bibleB, 0.75) 49.48%,
			$ts-bibleB 100%
		);
	}
}
