@import '../../../../styles/common';

.base {
	display: flex;
	flex-direction: column;
}

.hat {
	max-height: 49px;
	overflow: hidden;
	transition: max-height $transition-medium;
}
.hatExpanded {
	max-height: 300px;
	&.longHat {
		max-height: 600px;
	}
	.hatTitle {
		display: none;
	}
	.hatLabel {
		display: inline;
	}
}

.hatBar {
	width: 100%;
	display: flex !important;
	align-items: center;
	border-top-left-radius: 16px;
	border-top-right-radius: 16px;
	color: var(--hatColor, $ts-dark);
	padding: 16px;
	cursor: pointer;
	font-size: 0.9em;
	background-color: var(--hatBg);
	transition: background-color $transition-medium;
	&:hover {
		background-color: var(--hatHoverColor);
	}
}

.hatIcon {
	margin-right: 4px;
	color: var(--iconColor, $ts-red);
	display: flex;
}

.hatTitle {
	flex-grow: 1;
	overflow: hidden;
	font-size: 14px;
	line-height: 16.8px;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.hatLabel {
	display: none;
	flex-grow: 1;
}

.hatCaret {
	margin-left: 4px;
	flex: 0 0 auto;
}

.audiobookTrack {
	--hatBg: #{$ts-bookH};
	--hatColor: #{$ts-white};
	--hatHoverColor: #{$ts-darkened-bookH};
	--cardBg: #{$ts-bookB};
	--cardColor: #{$ts-lightTone};
	--cardHoverColor: #{$ts-darkened-bookB};
	--headingColor: #{$ts-white};
	--progressColor: #{$ts-salmon};
	--partColor: #{$ts-salmon};
	--iconColor: #{$ts-salmon};
}

.chapter {
	--hatBg: #{$ts-bibleH};
	--hatColor: #{$ts-white};
	--hatHoverColor: #{$ts-darkened-bibleH};
	--cardBg: #{$ts-bibleB};
	--cardColor: #{$ts-dark};
	--cardHoverColor: #{$ts-darkened-bibleB};
	--iconColor: #{$ts-salmon};
}

.sermon {
	// base
	--hatBg: #{$ts-cream};
	--hatHoverColor: #{$ts-darkened-cream};
	--cardBg: #{$ts-white};
	--cardHoverColor: #{$ts-darkened-white};
}

.song {
	--hatBg: #{$ts-songH};
	--hatColor: #{$ts-dark};
	--hatHoverColor: #{$ts-darkened-songH};
	--cardBg: #{$ts-songB};
	--cardHoverColor: #{$ts-darkened-songB};
	--cardColor: #{$ts-midTone};
	--headingColor: #{$ts-dark};
	--progressColor: #{$ts-red};
	--partColor: #{$ts-red};
	--iconColor: #{$ts-red};
}

.story {
	--hatBg: #{$ts-storyH};
	--hatColor: #{$ts-white};
	--hatHoverColor: #{$ts-darkened-storyH};
	--cardBg: #{$ts-storyB};
	--cardColor: #{$ts-lightTone};
	--cardHoverColor: #{$ts-darkened-storyB};
	--headingColor: #{$ts-white};
	--progressColor: #{$ts-salmon};
	--partColor: #{$ts-salmon};
	--iconColor: #{$ts-salmon};
}

.topic {
	--hatBg: #{$ts-topicH};
	--hatColor: #{$ts-white};
	--hatHoverColor: #{$ts-darkened-topicH};
	--cardBg: #{$ts-topicB};
	--cardColor: #{$ts-lightTone};
	--cardHoverColor: #{$ts-darkened-topicB};
	--headingColor: #{$ts-white};
	--progressColor: #{$ts-salmon};
	--partColor: #{$ts-salmon};
	--iconColor: #{$ts-salmon};
}
