@import '../../styles/common';

.container {
	background: $ts-lightTone;
	padding: 16px 24px;
}

.titleLockup {
	display: flex;
	align-items: center;
	margin-bottom: 16px;
}

.logo {
	margin-right: 8px;
}

.countLabel {
	color: $ts-midTone;
}

.cardGroup {
	margin-bottom: 24px;
}

.row {
	display: flex;
	align-items: center;
	margin-bottom: 16px;
	> *:first-child {
		flex-grow: 1;
	}
	svg {
		margin-left: 16px;
	}
}
