@import '../../styles/common';

.container {
	padding: 16px 24px;
	background-color: $ts-lightTone;
}

.back {
	margin-bottom: 24px;
}

.titleLockup {
	display: flex;
	align-items: center;
	margin-bottom: 16px;
}

.logo {
	margin-right: 8px;
}
