@import '../../styles/common';

.container {
	padding: $tease-padding;
	background-color: $ts-lightTone;
}

.titleLockup {
	display: flex;
	align-items: center;
	margin-bottom: 16px;
}

.logo {
	margin-right: 8px;
}
