@import '../../../styles/common';

.container {
	padding: $tease-padding;
	background-color: $ts-playlistH;
}

.title {
	margin-bottom: 8px;
}

.row {
	display: flex;
	align-items: center;
	margin-bottom: -4px;
	> *:first-child {
		flex-grow: 1;
	}
}

.countLabel {
	color: $ts-dark;
	> span {
		margin-right: 16px;
	}
}

.cardGroup {
	margin-bottom: 24px;
}
.modalLink {
	float: right;
	text-decoration: none;
	color: inherit;
	background: none;
	border: none;
	cursor: pointer;
	font: inherit;
	padding: 0;
	height: auto;
}

.modalLink:hover,
.modalLink:focus {
	text-decoration: underline;
	color: #ff224a;
}
