@import '../../styles/common';

.white {
	color: $ts-white;
}

.cream {
	color: $ts-cream;
}

.dark {
	color: $ts-dark;
}

.salmon {
	color: $ts-salmon;
}

.red {
	color: $ts-red;
}

.lightTone {
	color: $ts-lightTone;
}

.borderColor-lightTone {
	border-color: $ts-lightTone;
}

.borderColor-midTone {
	border-color: $ts-midTone;
}

.borderColor-dark {
	border-color: $ts-dark;
}
