.circle {
	width: 64px;
	height: 64px;
	border-radius: 50%;
	background-color: #323e48;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	font-size: 26px;
}
.initial {
	margin: 0 0px;
}
