.loose {
	letter-spacing: 1px;
}

.uppercase {
	text-transform: uppercase;
}

.large {
	font-size: 11px;
	line-height: 13.31px;
}

.ultralight {
	font-weight: 300;
}

.h6 {
	font-size: 10px;
	line-height: 12px;
}
