@import '../../styles/common';

.heading {
	display: flex;
	color: $ts-red-on-white;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	&:after {
		flex-grow: 1;
		content: '';
		display: block;
		position: relative;
		top: -4px;
		left: 2px;
		border-bottom: 1px solid $ts-red;
	}
}

.overline {
	position: relative;
	padding-top: 8px;
	&:after {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
	}
}

.small {
	font-size: 12px;
	line-height: 14.52px;
}

.salmon {
	color: $ts-salmon;
	&:after {
		border-color: $ts-salmon;
	}
}
