@import '../../styles/common';

.heading {
	display: flex;
	color: $ts-red;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	&:after {
		flex-grow: 1;
		content: '';
		display: block;
		position: relative;
		top: -4px;
		left: 2px;
		border-bottom: 1px solid $ts-red;
	}
}

.small {
	font-size: 12px;
	line-height: 14.52px;
}

.salmon {
	color: $ts-salmon;
	&:after {
		border-color: $ts-salmon;
	}
}

.h1 {
	font-size: 16px;
	line-height: 19.36px;
	margin-top: 0;
	margin-bottom: 16px;
	font-family: 'Inter', 'system-ui', sans-serif;
}
