.progress {
  border-bottom: 1px solid #cdd9e3;
  flex: 1 1 100%;
  margin-left: 1em;
  margin-right: 1em;

  span {
    margin-bottom: -1px;
    display: block;
    border-bottom: 1px solid var(--progressColor, #ff224a);
    width: var(--progress, 0);
  }
}
