@import '../../styles/common';

.container {
	height: 100%;
	background: $ts-white;
}

.content {
	padding: 16px;
}

.date {
	color: $ts-red;
	margin-bottom: 4px;
}

.teaser,
.duration {
	margin-top: 0;
	margin-bottom: 0;
}

.teaser + .duration {
	margin-top: 16px;
}
