.play {
	margin-top: -8px;
	margin-right: -4px;
}

.speakers {
	& > * {
		display: flex;
		margin-bottom: 0.5em;
	}
}

.controls {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 1em;
	font-size: 0.9em;
}

.time {
	flex: 0 0 auto;
	margin-right: 16px;
}

.bar {
	flex-grow: 1;
}
