.card {
	text-align: left;
	background: #ffffff;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
	border-radius: 16px;
}

.hat {
	border-radius: 16px 16px 0 0;
	background-color: #efebeb;
	padding: 16px;
	width: 100%;
	color: #323e48;
	font-size: 0.9em;
	display: flex;
	align-items: center;
}

.hatIcon {
	margin-right: 0.3em;
	color: #ff224a;
}

.hatTitle {
	flex-grow: 1;
}

.content {
	padding: 16px;
	color: #6b7680;
}

.part {
	font-size: 0.7em;
	font-weight: 600;
	color: #ff224a;
}

.heading {
	display: flex;
	justify-content: space-between;
	h1 {
		color: #323e48;
		font-size: 1.5em;
		margin: 0 0 0.5em 0;
		flex-grow: 1;
	}
}

.controls {
	display: flex;
	align-items: center;
	margin-top: 1em;
	font-size: 0.9em;
}

.duration {
	flex: 0 0 auto;
}

.progress {
	--progress: 0.5;
	border-bottom: 1px solid #cdd9e3;
	flex: 1 1 100%;
	margin-left: 1em;
	margin-right: 1em;
}
