@import '../../styles/common';

.buttonOpen.buttonOpen {
	border-color: $ts-red;
}

.container {
	min-width: 160px;
	padding: 8px 16px;
}

.paragraph {
	font-size: 12px;
	line-height: 15px;
	margin: 0 0 16px;
	&:last-of-type {
		margin-bottom: 0;
	}
	> a:hover {
		text-decoration: none;
	}
}
