@import '../../styles/common';

.container {
	margin-bottom: 16px;
}

.label {
	display: flex;
	flex-direction: column;
}

.input {
	display: block;
	margin-top: 4px;
	padding: 8px;
	border: 1px solid rgba($ts-midTone, 0.5);
	border-radius: 4px;
	font-size: 14px;
	line-height: 16.8px;
	color: $ts-dark;
	&::placeholder {
		color: $ts-midTone;
		font-style: italic;
	}
}
