.form {
	margin-top: 32px;
}

.actions {
	margin: 0 auto;
	width: 200px;
	display: flex;
	flex-direction: column;
	margin-top: 32px;
	text-align: center;
}

.submit {
	margin-bottom: 24px;
}

.resetPassword {
	margin-bottom: 32px;
}

.signup {
	margin-top: 8px;
}

.guestLink {
	margin-top: 32px;
}

.errorAlert {
	margin-bottom: 16px;
	padding: 16px;
}
