@import '../../styles/common';

.container {
	margin-bottom: 16px;
}

.button {
	border: none;
	background: none;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 700;
	color: $ts-midTone;
	margin: 0;
	padding: 0;
	&[aria-pressed='true'] {
		color: $ts-red;
	}
}

.button + .button {
	margin-left: 8px;
}
