@use '../../styles/mixins.scss';

@import '../../styles/common';

.button {
	appearance: none;
	margin: 0;
	padding: 0;
	border: none;
	background: none;
	color: $ts-dark;
	@include mixins.sansFontFamily();
	font-weight: 700;
	font-size: 11px;
	line-height: 13.31px;
	letter-spacing: 1.1px;
	text-transform: uppercase;
	cursor: pointer;
	&:hover {
		color: $ts-red;
	}
}
.miniNav {
	display: flex;
	align-items: center;
	flex-grow: 1;
	margin-bottom: 8px;
	> * {
		margin-right: 16px;
		margin-top: 8px;
		margin-bottom: 8px;
		padding-top: 3px; // Compensate for border-bottom
		padding-bottom: 2px;
		border-bottom: 1px solid transparent;
		@media (min-width: $breakpoint-lg) {
			margin-right: 24px;
		}
	}
	a:hover {
		text-decoration: none;
	}
	&.miniNavDisabled {
		color: $ts-midTone;
		a {
			pointer-events: none;
		}
	}
}
.compact {
	margin: 0;
	> * {
		margin-right: 14.5px;
		margin-top: 4px;
		margin-bottom: 4px;
	}
}

.miniNavActive.miniNavActive {
	border-bottom-color: $ts-red;
}
