@import '../../styles/common';

.container {
	display: inline-flex;
	align-items: center;
}

.title {
	font-size: 16px;
	text-wrap: nowrap;
	line-height: 19.36px;
}

.titleWithImage {
	margin-left: 8px;
}

.link {
	img {
		border: 1px solid rgba($ts-red, 0) !important;
		border-radius: 24px;
	}
	&:hover {
		cursor: pointer;
		text-decoration: none;
		.title {
			color: $ts-red;
		}
		img {
			border-color: $ts-red !important;
		}
	}
}
.linkSalmon:hover {
	.title {
		color: $ts-salmon;
	}
	img {
		border-color: $ts-salmon !important;
	}
}
