@import "../../styles/common";

.base {
  margin-left: 0;
  margin-top: 2em;
  text-align: center;
}

.link {
  display: inline-block;
  margin-right: .2em;

  a {
    color: $gray-dark;
    text-decoration: none;
    display: block;
    border-radius: 3px;
    padding: .2em .5em;
  }

  &:not(.active) a:hover {
    background-color: $gray-lighter;
  }
}

.active {
  a {
    color: white;
    font-weight: bold;
    background-color: $accent;
  }
}
