.playlistList {
	display: flex;
	flex-direction: column;
	max-height: 400px;
	overflow-y: auto;
}

.gradientOverlay {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 30px;
	background: linear-gradient(to top, white, rgba(255, 255, 255, 0));
	pointer-events: none;
}

.pressable {
	cursor: pointer;
}

.container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
