@import '../../styles/common';

.poster {
	background: none;
	border: none;
	margin: 1rem 0 0 0;
	padding: 0;
	cursor: pointer;
	display: block;
	div {
		display: block !important;
	}
}

.controls {
	display: flex;
	align-items: flex-start;
	margin-bottom: 16px;
	.controlGrow {
		flex-grow: 1;
		margin-left: 8px;
	}
}
.play {
	margin-top: -8px;
	margin-left: -8px;
}

.waves {
	flex-grow: 1;
	position: relative;
	background-image: url('/img/waves-gray.svg');
	height: 50px;
	margin-bottom: 8px;
	input {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		z-index: 500;
		margin: 0;
		opacity: 0;
		cursor: pointer;
	}
	path {
		stroke: $ts-red;
	}
	&:after {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		width: var(--progress, 0%);
		z-index: 100;
		background-color: white;
		background-image: url('/img/waves.svg');
		pointer-events: none;
	}
}

.buttons {
	display: flex;
	justify-content: space-between;
	align-items: center;
	div {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
	}
	button {
		background: none;
		border: none;
		cursor: pointer;
	}
}

.leftButtons > * {
	margin-right: 24px;
}

.rightButtons > * {
	margin-left: 16px;
}

.videoProgress {
	--visualHeight: 4px;
	--barColor: #{$ts-midTone};
	--progressColor: #{$ts-salmon};
	position: relative;
	top: -14px;
}
