.item {
  margin-bottom: 0.5em;
  align-items: center;

  a {
    align-items: center;
  }
  img {
    display: inline-block;
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 100%;
  }
}

.presenters {
  ul {
    padding-left: 0;
  }
  li {
    display: inline-block;
  }
  li:after {
    content: ',';
    margin-right: 0.25em;
  }
  li:last-child:after {
    display: none;
  }
}

.duration {
  text-align: right;
}
