@import '../../styles/common';

.item {
  margin-bottom: 0.5em;
  color: $gray-light;
  &:nth-child(even) {
    background-color: $gray-bleached;
  }
  td {
    padding: 0 .7rem 0 0;
    &:first-child {
      padding-left: .7rem;
    }
  }
  a {
    color: $gray-light;
    text-decoration: none;
    &.title {
      display: block;
      padding: 1rem 0 1rem 0;
      font-weight: bold;
      color: $gray-mid;
    }
    &:hover {
      text-decoration: underline;
    }
  }
  img {
    display: inline-block;
    width: 35px;
    height: 35px;
    overflow: hidden;
    border-radius: 100%;
  }
}

.presenters {
  ul {
    padding: 0;
    margin: 0;
  }
  li {
    display: inline-block;
  }
  li:after {
    content: ',';
    margin-right: 0.25em;
  }
  li:last-child:after {
    display: none;
  }
}

.duration {
  text-align: right;
}
