@import '../../styles/common';

.base {
	display: flex;
	align-items: center;
	margin-bottom: 24px;
	border-bottom: 0.5px solid $ts-lightTone;
	font-size: 22px;
	font-weight: 400;
	font-family: IvyJournal, serif;
	color: $ts-dark;
	svg {
		margin-right: 16px;
	}
}
