@import '../../styles/common';

.base {
	flex-grow: 1;
	display: flex;
}

.inner {
	flex-grow: 1;
	display: flex;
	margin-left: auto;
	margin-right: auto;
	border-bottom: 0.5px solid rgba($ts-lightTone, 0.5);
	font-family: $serif;
	font-size: 22px;
	font-weight: 400;
	line-height: 33px;
	color: $ts-dark;
	letter-spacing: unset;
	> * {
		flex-grow: 1;
		color: $ts-dark !important;
	}
	input {
		font-family: $serif;
		font-size: 22px;
		line-height: 33px;
		color: $ts-dark;
		&::placeholder {
			opacity: 1;
		}
	}
	a {
		height: 24px;
		cursor: pointer;
	}
}

@media (min-width: $breakpoint-lg) {
	.clearHidden.clearHidden {
		display: none;
	}
}
