.link {
	display: inline-flex;
	align-items: center;
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
	img {
		border-radius: 100%;
	}
	.name {
		margin-left: 8px;
	}
}

.tooltip {
	max-width: 300px;
	opacity: 1 !important;
}

.speakerWebsite {
	color: #0070f3;
}
