@import '../../styles/common';

.container {
	position: relative;
	flex-grow: 1;
	display: flex;
}

$container-padding: 16px;
.content {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	padding: $container-padding;
	cursor: pointer;
	background-color: var(--cardBg);
	transition-duration: $transition-medium;
	&,
	&:hover {
		color: var(--cardColor, $ts-midTone);
		text-decoration: none;
	}
	&:hover {
		background-color: var(--cardHoverColor);
	}
	&.unpadded {
		padding: 0;
	}
}

.part {
	margin-bottom: 4px;
	font-size: 10.5px;
	font-weight: 600;
	line-height: 13px;
	color: var(--partColor, $ts-red);
}

.title {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	margin-bottom: 16px;
	color: var(--headingColor, $ts-dark);
	h2 {
		margin-top: 0;
		margin-bottom: 0;
	}
}

$right-icon-offset: -4px;
.play {
	margin-top: $right-icon-offset;
	margin-right: $right-icon-offset;
}

.flexGrow {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.presenter {
	margin-bottom: 8px;
}

.morePersons {
	display: flex;
	align-items: center;
	> svg {
		margin-right: 12px;
		transition: none;
	}
	&:hover {
		color: $ts-red;
	}
	&.dark {
		> svg {
			color: $ts-white;
		}
		&:hover {
			&,
			& > svg {
				color: $ts-salmon;
			}
		}
	}
}

$like-icon-size: 32px;
$like-icon-padding: 8px;
.details {
	display: flex;
	align-items: center;
	min-height: 24px;
	@media (any-pointer: fine) {
		margin-right: #{$like-icon-size + $like-icon-padding};
	}
	&.detailsWithLike {
		margin-right: #{$like-icon-size + $like-icon-padding};
	}
}

.duration {
	margin-left: 6px;
}

.like {
	display: none;
	position: absolute;
	bottom: #{$container-padding + $right-icon-offset};
	right: #{$container-padding + $right-icon-offset};
	@media (any-pointer: fine) {
		display: inline-flex;
	}
	@media (pointer: coarse) {
		pointer-events: none;
	}
	&Active {
		display: inline-flex;
	}
	&Unpadded {
		bottom: $right-icon-offset;
		right: $right-icon-offset;
	}
}

.small {
	.part,
	.title,
	.presenter {
		margin-bottom: 0;
	}
	.heading {
		margin-bottom: 4px;
	}
}
