@import '../../styles/common';

.tease {
	max-width: $tease-maxWidth-sm;
	margin: 0 auto;
	border-radius: 24px;
	overflow: hidden;
	@media (min-width: $breakpoint-md) {
		max-width: $tease-maxWidth;
	}
}
