@import '../../styles/common';

$header-minWidth: 571px;
$header-maxWidth: 771px;
.base {
	@media (min-width: $breakpoint-md) {
		width: calc(66.6667% - #{$grid-gap / 2});
		min-width: $header-minWidth;
	}
	@media (min-width: $breakpoint-lg) {
		width: calc(66.6667% - #{$grid-gap / 3});
		max-width: $header-maxWidth;
	}
}
