@import '../../../styles/common.scss';
.container {
	display: flex;
	flex: 1;
	background-color: $ts-white;
	padding: 24px;
}

.header {
	margin-bottom: 8px;
}

.privacyLabel {
	margin-bottom: 4px;
}

.privacyInput {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.privacyInputLeft {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.privacyInputLeftLabel {
	margin-left: 4px;
}

.privacyContainer {
	margin-top: 4px;
	border-color: $ts-red;
	border-width: 1px;
	border-radius: 4px;
	padding: 16px;
}

.privacyOption {
	display: flex;
	flex-direction: row;
}

.pressed {
	background-color: $ts-darkened-white;
}

.privacyOptionRight {
	margin-left: 4px;
}

.privacyOptionSubtitle {
	font-size: 11px;
	line-height: 13px;
}

.privacyOptionShareable {
	margin-top: 16px;
}

.footer {
	display: flex;
	flex-direction: row;
	margin-top: 16px;
}

.cancel {
	margin-left: 16px;
	align-self: center;
}
