@import '../../styles/common';

.header {
  background-color: $gray-dark;
  color: $gray-bleached;
  overflow: hidden;
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  padding-top: 2rem;
  h1 {
    margin-top: 0;
  }
}
