@import '../../styles/common';

.subnav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 24px;
}

.miniNav {
	display: flex;
	align-items: center;
	> * {
		margin-right: 24px;
		padding-top: 3px; // Compensate for border-bottom
		padding-bottom: 2px;
		border-bottom: 1px solid transparent;
	}
	a:hover {
		text-decoration: none;
	}
	&.miniNavDisabled {
		color: $ts-midTone;
		a {
			pointer-events: none;
		}
	}
}
.miniNavActive {
	border-bottom-color: $ts-red;
}
