@import '../../styles/common';

.miniplayer {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-overflow-scrolling: touch;
	position: fixed;
	z-index: 999;
	width: 100%;
	bottom: 0;
	left: 0;
	height: $miniplayer-height;
	min-height: 0;
	background-color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-top: 1px solid $ts-cream;
	@media (min-width: $breakpoint-lg) {
		z-index: 1001;
	}
}

.player {
	display: grid;
	grid-template-areas: 'cell';
	max-height: 100%;
	.pane {
		grid-area: cell;
	}
	.controls {
		grid-area: cell;
		z-index: 100;
		display: flex;
		align-items: center;
		justify-content: center;
		padding-left: 30px;
		padding-right: 30px;
		background-color: rgba(255, 255, 255, 0.7);
		&.hidden {
			opacity: 0;
			transition: opacity $transition-quick;
			&:hover {
				opacity: 1;
			}
		}
	}
}

.meta {
	flex: 0 1 40%; // TODO: refine this
	padding: 2rem;
	min-width: 0;
}

.series {
	display: flex;
	align-items: center;
	font-weight: 400;
	font-size: 12px;
	svg {
		color: $ts-red;
		margin-right: 4px;
	}
}

.title {
	font-weight: 700;
	font-size: 18px;
	margin-top: 0;
	margin-bottom: 0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.progress {
	display: flex;
	align-items: center;
	font-size: 14px;
	font-weight: 400;
	color: $ts-midTone;
	.bar {
		flex-grow: 1;
		margin-left: 16px;
		margin-right: 16px;
	}
}

.volume {
	display: flex;
	align-items: center;
	min-width: 150px;
	button {
		padding: 0;
		margin: 0;
		border: none;
		background: none;
		cursor: pointer;
	}
	svg {
		flex: 0 0 auto;
		box-sizing: content-box;
		padding: 8px;
	}
}
