@import '../../styles/common';

.base {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    z-index: 10;
    background: $ts-cream;
    padding-bottom: 8px;
}

.title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px calc(24px + env(safe-area-inset-right)) 14px calc(24px + env(safe-area-inset-left));
    z-index: 1;
    background: $ts-cream;

    > :first-child {
        flex-grow: 1;
    }

    > :nth-child(n + 2) {
        margin-left: 16px;
    }
}

.subnav {
    display: flex;
    align-items: center;
    position: relative;
    background: $ts-cream;
    margin: 0 calc(24px + env(safe-area-inset-right)) 0 calc(24px + env(safe-area-inset-left));
    overflow: hidden;
    align-items: end;
}

.subnavItems {
    height: 24px;
    margin-right: 16px;
    flex-wrap: wrap;
    overflow: hidden;
}

.more {
    position: absolute;
    right: 0;
    height: 24px;
}

@media (min-width: $breakpoint-lg) {
    .base {
        display: none;
    }
}