@import '../../styles/common';

.base {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    z-index: 10;

    >* {
        padding-left: calc(24px + env(safe-area-inset-left));
        padding-right: calc(24px + env(safe-area-inset-right));
    }
}

.title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
    background: $ts-cream;

    > :first-child {
        margin-right: 16px;
    }
}

.subnav {
    display: flex;
    align-items: end;
    justify-content: space-between;
    align-items: center;
    position: relative;
    overflow: hidden;
    background: $ts-cream;
}

.subnavItems {
    height: 24px;
    margin-right: 16px;
    flex-wrap: wrap;
    overflow: hidden;
}

.more {
    height: 24px;
    padding: 0;
    border: none;
}

.search {
    padding-top: 24px;
    padding-bottom: 24px;
}

.searchActive {
    background: $ts-cream;
}

@media (min-width: $breakpoint-lg) {
    .base {
        display: none;
    }
}