@import '../../styles/common';

.backdrop {
	background-color: $ts-dark;
	opacity: 0.8;
}

.modal {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 500px;
	max-width: calc(100% - 48px);
	outline: none;
	padding: 24px;
	background-color: $ts-white;
	border-radius: 16px;
}

.close {
	position: absolute;
	right: 16px;
	top: 16px;
}

.buttonRow {
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	justify-content: flex-start;
	flex-wrap: wrap-reverse;
	> * {
		margin-top: 16px;
		margin-left: 16px;
	}
}
.buttonCol {
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	flex-wrap: wrap-reverse;
	> * {
		margin-top: 16px;
		margin-left: 16px;
	}
}
.centerText {
	text-align: center;
}
.leftText {
	float: left;
	color: $ts-red;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	margin-bottom: 1px;
}

.head {
	margin-bottom: 20px;
	padding: 0 0 10px 0;
}
.link {
	margin-bottom: 1px;
}
