@import '../../styles/common';
@import '../../styles/mixins';

.header {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	overflow-y: scroll;

	h1 {
		margin-top: 0;
	}

	ul {
		margin: 0;
		padding-left: 0;
	}

	li {
		list-style-type: none;
		height: 32px;
		margin-bottom: 16px;
		font-size: 18px;
		font-weight: 400;
		display: flex;
		align-items: center;

		.icon {
			margin-right: 8px;
			display: flex;
			width: 24px;
			color: $ts-dark;

			svg {
				@include fadeIn($transition-quick);
			}
		}

		.label {
			flex-grow: 1;
		}

		.navLink {
			flex-grow: 1;
			text-decoration: none;
			display: flex;
			align-items: center;
			color: $ts-midTone;

			*:not(svg) {
				transition: none; // FIX: https://stackoverflow.com/a/40512935
			}
		}
	}

	.navLink:hover {
		&,
		.icon {
			color: $ts-red;
		}
	}

	@media (min-width: $breakpoint-lg) {
		.navLink.active {
			&,
			.icon,
			.iconDisclosure {
				color: $ts-red;
			}
		}
	}
}

.exitButton {
	&:hover:global(.hover-bg--darkened-cream) {
		background-color: transparent;
	}
}

.iconDisclosure {
	height: 32px;
	width: 32px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 4px;
	border-radius: 16px;
	color: $ts-dark;
	transform: rotate(-90deg);
	cursor: pointer;

	&:hover {
		background: $ts-darkened-white;
	}
}

.divider {
	width: 100%;
	border-bottom: 1px solid rgba($ts-lightTone, 0.5);
}

.mobileHeader {
	display: flex;
	flex-direction: column;
	padding-left: 24px;
	padding-right: 24px;
}

.mobileRow {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 24px;
}

.mobileSearch {
	margin-bottom: 0;

	> div {
		flex-grow: 1;
	}
}

.languageButton,
.downloadButton {
	background: $ts-white;
}

.downloadButton svg:first-of-type {
	color: $ts-midTone;
}

.slider {
	flex-grow: 1;
	position: relative;
	overflow: hidden;
}

.sliderColumns {
	position: relative;
	left: 0;
	top: 0;
	bottom: 0;
	display: flex;
	width: 100%;

	> * {
		flex: 0 0 100%;
		display: flex;
		flex-direction: column;
		padding: 24px 24px 0;
	}

	transition: left $transition-medium;

	&.in {
		left: -100%;
	}
}

.account {
	flex-grow: 1;
	display: flex;
	align-items: flex-end;
	padding-bottom: 2px;
	color: $ts-midTone;
}

.accountWithAvatar {
	flex-grow: 1;
	display: flex;
	align-items: center;
	margin-bottom: 8px;

	.iconDisclosure {
		display: inline-block;
		margin-left: 8px;
		margin-bottom: 4px;
		color: $ts-dark;
		transform: rotate(-90deg);
		flex: 0 0 18px;
	}

	&:hover {
		text-decoration: none;

		.iconDisclosure {
			color: $ts-red;
		}

		.accountName {
			border-color: $ts-red;
		}
	}
}

.account,
.accountWithAvatar {
	*:not(svg) {
		transition: none; // FIX: https://stackoverflow.com/a/40512935
	}
}

.accountAvatar {
	margin-right: 4px;
}

.accountName {
	text-decoration: underline;
	line-height: 1.3;
}

.backToMenu {
	display: flex;
	align-items: center;
	margin-bottom: 24px;
	color: $ts-midTone;

	> svg {
		transform: rotate(90deg);
		margin-right: 4px;
	}

	&:hover {
		text-decoration: none;
	}
}

.submenuItems {
	li {
		margin-bottom: 16px;
		font-size: 17px;
		height: auto;

		.icon {
			width: 16px;
			display: flex;
			justify-content: center;
			color: $ts-red;
		}
	}
}

.submenuHeading {
	margin-bottom: 16px;
}

.desktopDonate {
	display: none;
}

@media (min-width: $breakpoint-lg) {
	.mobileHeader,
	.mobileRow {
		display: none;
	}

	.header {
		position: relative;
		overflow: hidden;
	}

	.sliderColumns > * {
		padding-top: 0;
		padding-left: 32px;
		padding-right: 22px;
		flex-basis: 100%;
	}

	.account {
		margin-top: 16px;
		margin-bottom: 32px;
	}

	.desktopDonate {
		display: inherit;
		align-self: flex-start;
		justify-content: center;
		min-width: 50%;
	}
}
.open_app_side {
	margin-left: 0 !important;
	margin-top: 16px;
	align-self: flex-start;
	justify-content: center;
	min-width: 50%;
}
