@import '../../styles/common';

.header {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	overflow-y: scroll;
	h1 {
		margin-top: 0;
	}
	ul {
		margin: 0;
		padding-left: 0;
	}
	li {
		list-style-type: none;
		margin-bottom: 24px;
		color: $ts-midTone;
		font-size: 18px;
		font-weight: 400;
		display: flex;
		align-items: center;
		.icon {
			margin-right: 8px;
			display: flex;
			color: $ts-dark;
		}
		.iconDisclosure {
			margin-left: 4px;
			color: $ts-dark;
			transform: rotate(-90deg);
		}
		.navLink {
			flex-grow: 1;
			text-decoration: none;
			display: flex;
			align-items: center;
		}
	}
	.navLink:hover {
		&,
		.icon,
		.iconDisclosure {
			color: $ts-red;
		}
	}
	@media (min-width: $breakpoint-lg) {
		.navLink.active {
			&,
			.icon {
				color: $ts-red;
			}
		}
	}
}

.mobileHeader {
	display: flex;
	flex-direction: column;
}
.mobileRow {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 24px;
}

.downloadButton svg:first-of-type {
	color: $ts-midTone;
}

.account {
	flex-grow: 1;
	display: flex;
	align-items: flex-end;
	margin-top: 16px;
	margin-bottom: 4px; // ensure the underline is visible
	color: $ts-midTone;
}
.accountWithAvatar {
	display: flex;
	align-items: center;
	.iconDisclosure {
		display: inline-block;
		margin-left: 8px;
		color: $ts-dark;
		transform: rotate(-90deg);
	}
	&:hover .iconDisclosure {
		color: $ts-red;
	}
}
.accountAvatar {
	margin-right: 8px;
}

.submenu {
	position: absolute;
	left: 0;
	right: 0;
	top: 136px;
	bottom: 0;
	margin: 0 24px 24px;
	background: $ts-cream;
	transition: transform $transition-medium;
	transform: translateX(110%);
}

.submenuShown {
	transform: translateX(0%);
}

.backToMenu {
	display: flex;
	align-items: center;
	margin-bottom: 24px;
	color: $ts-midTone;
	> svg {
		transform: rotate(90deg);
		margin-right: 4px;
	}
	&:hover {
		text-decoration: none;
	}
}

.submenuItems {
	li {
		margin-bottom: 16px;
		font-size: 17px;
		.icon {
			color: $ts-red;
		}
	}
}

.submenuHeading {
	margin-bottom: 16px;
}

@media (min-width: $breakpoint-lg) {
	.mobileHeader {
		display: none;
	}
	.header {
		position: relative;
		overflow: hidden;
		> ul {
			margin: 0 32px;
		}
	}
	.submenu {
		top: 0;
		background: $ts-white;
		transform: translateX($sidebar-width);
	}
	.submenuShown {
		transform: translateX(0%);
	}
	.account {
		margin: 16px 32px 34px;
	}
}
