@import '../../styles/common.scss';

.wrapper {
    display: flex;
    background-color: $ts-bibleVersionH;
}

.wrapper button {
    background: none;
    border: none;
}

.wrapper li,
.wrapper li button {
    color: $ts-lightTone;
    font-weight: 700;
    size: 16px;
    line-height: 19.2px;
    text-transform: uppercase;
    list-style-type: none;
}

.wrapper :global(.active),
.wrapper :global(.active) button {
    color: $ts-salmon;
}