@import '../../styles/common.scss';

.wrapper {
	display: flex;
	background-color: $ts-bibleVersionH;
}

.wrapper ul {
	margin: 0;
	padding: 0;
}

.wrapper button {
	background: none;
	border: none;
	padding: 10px 24px;
}

.wrapper .books > li:first-child button {
	padding-top: 16px;
}

.wrapper .books > li:last-child button {
	padding-bottom: 16px;
}

.wrapper li,
.wrapper li button,
.wrapper li a {
	color: $ts-lightTone;
	font-weight: 700;
	size: 16px;
	line-height: 19.2px;
	text-transform: uppercase;
	list-style-type: none;
}

.wrapper :global(.active) > button {
	color: $ts-salmon;
}

.wrapper,
.wrapper .books,
.wrapper .chapters {
	width: 100%;
}

.chapters {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(70px, 1fr));
	background-color: $ts-darkened-bibleH;
	border-top: 1px solid $ts-salmon;
	border-bottom: 1px solid $ts-salmon;
}

.chapter a {
	width: 100%;
	height: 100%;
	padding: 24px 0;
	display: block;
	text-align: center;
}

.chapter a:hover {
	text-decoration: none;
	color: $ts-salmon;
}
