@import '../../styles/common';

.base {
	border: 1px solid $ts-cream;
}

.hat {
	background-color: $ts-cream;
	padding: 16px 24px;
	display: block;
	text-decoration: none;
	.hatType {
		font-size: 10px;
		text-transform: uppercase;
		letter-spacing: 1px;
		font-weight: 700;
		display: flex;
		align-items: center;
		svg {
			margin-right: 4px;
			color: $ts-red;
		}
	}
	h4 {
		margin: 0;
		font-size: 16px;
	}
	&,
	&:hover {
		color: $ts-dark;
	}
	&:hover {
		text-decoration: none;
		background: $ts-darkened-cream;
	}
}

.content {
	display: flex;
	flex-direction: column;
	> * {
		padding: 24px;
	}
	h6 {
		margin-top: 16px;
		margin-bottom: 8px;
	}
	p {
		margin-top: 8px;
		margin-bottom: 16px;
	}
	@media (min-width: $breakpoint-xl) {
		flex-direction: row;
	}
}

.main {
	flex-grow: 1;

	@media (min-width: $breakpoint-xl) {
		max-width: 66.6666%;
	}
}

.series {
	background-color: $ts-white; // TODO: adjust based on recording
	.item {
		margin-bottom: 32px;
	}
	@media (min-width: $breakpoint-xl) {
		flex: 1 0 33.3333%;
		min-width: 300px;
		max-width: 468px;
		border-left: 1px solid $ts-cream;
	}
}
.seriesItems {
	@media (min-width: $breakpoint-md) {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		> * {
			flex: 1 0 calc(50% - 32px);
			&:nth-child(odd) {
				margin-right: 16px;
			}
			&:nth-child(even) {
				margin-left: 16px;
			}
		}
	}
	@media (min-width: $breakpoint-xl) {
		display: block;
		> * {
			margin-left: 0 !important;
			margin-right: 0 !important;
		}
	}
}

.part {
	color: $ts-red;
	font-weight: 600;
	font-size: 16px;
}

.speakers {
	padding-left: 0;
	margin-top: 0;
	margin-bottom: 0;
	padding-bottom: 0;
	li {
		display: block;
		margin-right: 8px;
		margin-bottom: 8px;
		@media (min-width: $breakpoint-md) {
			display: inline-block;
		}
		@media (min-width: $breakpoint-lg) {
			margin-right: 16px;
			margin-bottom: 16px;
		}
	}
}
