@import '../../styles/common';

.base {
	&.AUDIOBOOK_TRACK {
		--recordingAccent: #{$ts-salmon};
		--recordingBackground: #{$ts-bookB};
		--recordingHatBackground: #{$ts-bookH};
		--recordingHatHover: #{$ts-darkened-bookH};
		--recordingTextColor: #{$ts-white};
		--recordingTextSecondaryColor: #{$ts-lightTone};
		--recordingWavesColor: #{$ts-bookH};
	}
	&.MUSIC_TRACK {
		--recordingAccent: #{$ts-red};
		--recordingBackground: #{$ts-songB};
		--recordingHatBackground: #{$ts-songH};
		--recordingHatHover: #{$ts-darkened-songH};
		--recordingTextColor: #{$ts-dark};
		--recordingTextSecondaryColor: #{$ts-midTone};
		--recordingWavesColor: #{$ts-lightTone};
	}
	&.SERMON {
		--recordingAccent: #{$ts-red};
		border: 1px solid $ts-cream;
		--recordingHatBackground: #{$ts-cream};
		--recordingHatHover: #{$ts-darkened-cream};
		--recordingTextColor: #{$ts-dark};
		--recordingTextSecondaryColor: #{$ts-midTone};
		--recordingWavesColor: #{$ts-lightTone};
	}
	&.STORY {
		--recordingAccent: #{$ts-salmon};
		--recordingBackground: #{$ts-storyB};
		--recordingHatBackground: #{$ts-storyH};
		--recordingHatHover: #{$ts-darkened-storyH};
		--recordingTextColor: #{$ts-white};
		--recordingTextSecondaryColor: #{$ts-lightTone};
		--recordingWavesColor: #{$ts-storyH};
	}
	background: var(--recordingBackground, $ts-white);
	color: var(--recordingTextColor);
	--headingColor: var(--recordingTextColor);
	--cardColor: var(--recordingTextSecondaryColor);
	--partColor: var(--recordingAccent);
}

.hat {
	background-color: var(--recordingHatBackground);
	padding: 16px 24px;
	display: block;
	text-decoration: none;
	.hatType {
		font-size: 10px;
		text-transform: uppercase;
		letter-spacing: 1px;
		font-weight: 700;
		display: flex;
		align-items: center;
		svg {
			margin-right: 4px;
			color: var(--recordingAccent);
		}
	}
	h4 {
		margin: 0;
		font-size: 16px;
	}
	&,
	&:hover {
		color: var(--recordingTextColor);
	}
	&:hover {
		text-decoration: none;
		background: var(--recordingHatHover);
	}
}

.content {
	display: flex;
	flex-direction: column;
	> * {
		padding: 24px;
	}
	h6 {
		margin-top: 16px;
		margin-bottom: 8px;
	}
	p {
		margin-top: 8px;
		margin-bottom: 16px;
	}
	@media (min-width: $breakpoint-xl) {
		flex-direction: row;
	}
}

.main {
	flex-grow: 1;

	@media (min-width: $breakpoint-xl) {
		max-width: 66.6666%;
	}
}

.series {
	background-color: var(--recordingBackground);
	.item {
		margin-bottom: 32px;
	}
	@media (min-width: $breakpoint-xl) {
		flex: 1 0 33.3333%;
		min-width: 300px;
		max-width: 468px;
		border-left: 1px solid var(--recordingHatBackground);
	}
}
.seriesItems {
	@media (min-width: $breakpoint-md) {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		> * {
			flex: 1 0 calc(50% - 32px);
			&:nth-child(odd) {
				margin-right: 16px;
			}
			&:nth-child(even) {
				margin-left: 16px;
			}
		}
	}
	@media (min-width: $breakpoint-xl) {
		display: block;
		> * {
			margin-left: 0 !important;
			margin-right: 0 !important;
		}
	}
}

.part {
	color: var(--recordingAccent);
	font-weight: 600;
	font-size: 16px;
}

.speakers {
	padding-left: 0;
	margin-top: 0;
	margin-bottom: 0;
	padding-bottom: 0;
	li {
		display: block;
		margin-right: 8px;
		margin-bottom: 8px;
		@media (min-width: $breakpoint-md) {
			display: inline-block;
		}
		@media (min-width: $breakpoint-lg) {
			margin-right: 16px;
			margin-bottom: 16px;
		}
	}
}

.audiobookHeading {
	font-weight: 400;
}
