@import '../../styles/common';

.base {
	display: grid;
	grid-template-columns: auto 1fr 1fr auto;
	grid-template-areas:
		'. . . .'
		'. content media .'
		'. . . .';
	grid-gap: 6rem;
	overflow: hidden;
}

.media {
	grid-area: media;
	& > img {
		object-fit: cover;
		width: 100%;
		height: 100%;
		display: block;
	}
}

.content {
	grid-area: content;
	h2 {
		font-size: 3em;
	}
	& > * {
		margin-top: 0.5rem;
		margin-bottom: 0.5rem;
	}
}

.bleed {
	grid-template-areas:
		'. . media media'
		'. content media media'
		'. . media media';
}

.center {
	text-align: center;
	grid-gap: 3rem;
	grid-template-columns: auto 1fr auto;
	grid-template-areas:
		'. . .'
		'. media .'
		'. content .'
		'. . .';
	& > * {
		&:last-child {
			padding-bottom: 0;
		}
	}
}

.reverse {
	grid-template-areas:
		'. . . .'
		'. media content .'
		'. . . .';
	&.bleed {
		grid-template-areas:
		'media media . .'
		'media media content .'
		'media media . .';
	}
	&.center {
		grid-template-areas:
			'. . .'
			'. content .'
			'. media .'
			'. . .';
	}
	&.center.bleed {
		grid-template-areas:
			'. . .'
			'. content .'
			'media media media'
			'media media media';
	}
}

.dark {
	background-color: $ts-dark;
	color: white;
}

.lightTone {
	background-color: $ts-lightTone;
}

.cream {
	background-color: $ts-cream;
}
