@import '../../styles/common';

.container {
	background: $ts-cream;
	padding: 16px 24px;
}

.titleLockup {
	display: flex;
	align-items: center;
	margin-bottom: 8px;
}

.image {
	margin-right: 8px;
}

.countLabel {
	margin-top: 16px;
	margin-bottom: -4px;
}

.row {
	display: flex;
	align-items: center;
	margin-bottom: -4px;
	> *:first-child {
		flex-grow: 1;
	}
}

.duration {
	color: $ts-midTone;
}

.iconButton {
	margin-left: 8px;
}

.cardGroup {
	margin-top: 16px;
	margin-bottom: 24px;
}
