@import '../../styles/common';

.slider {
	display: flex;
	flex-direction: column;
}

.grow > .slides {
	flex-grow: 1;
	> * {
		align-self: stretch;
	}
}

.slides {
	display: flex;
	align-items: flex-start;
	margin-bottom: 2rem;
	position: relative;
	transform: translateX(0);
	transition: transform $transition-medium;
	> * {
		--cardWidth: calc(
			(100% / var(--perSlide, 1)) - 1px + 1px
		); // Hack to turn 100% into pixels to avoid squishing to flex-basis: auto
		flex: 0 0 var(--cardWidth);
	}
}

.controls {
	display: flex;
	align-items: center;
	justify-content: center;
	button {
		margin: 8.5px;
	}
}

.dots {
	padding-left: 0;
	margin-left: 8.5px;
	margin-right: 8.5px;
}

.dot {
	width: 10px;
	height: 10px;
	border-radius: 100%;
	background-color: $ts-lightTone;
	display: inline-block;
	list-style-type: none;
	margin: 8.5px;
}

.active {
	background-color: $ts-dark;
}

.dark {
	.dot {
		background-color: $ts-midTone;
	}
	.active {
		background-color: $ts-white;
	}
}

.buttonSquare.buttonSquare {
	height: 40px;
	width: 40px;
}
