@import '../../styles/common';

.slider {
	display: flex;
	flex-direction: column;
	position: relative;
	padding-bottom: 12px;
}

.grow > .slides {
	flex-grow: 1;
	> * {
		align-self: stretch;
	}
}

.slides {
	display: flex;
	align-items: flex-start;
	margin-bottom: 24px;
	position: relative;
	transform: translateX(calc(var(--activeSlide, 0) * -100%));
	transition: transform $transition-medium;
	> * {
		--cardWidth: calc(
			(100% / var(--perSlide, 1)) - 1px + 1px
		); // Hack to turn 100% into pixels to avoid squishing to flex-basis: auto
		flex: 0 0 var(--cardWidth);
		width: calc(100% / var(--perSlide));
	}
}

.controls {
	display: flex;
	align-items: center;
	justify-content: center;
	button {
		margin: 8.5px;
	}
}

.dots {
	padding-left: 0;
	margin-left: 8.5px;
	margin-right: 8.5px;
}

.dot {
	width: 10px;
	height: 10px;
	border-radius: 100%;
	background-color: $ts-lightTone;
	display: inline-block;
	list-style-type: none;
	margin: 8.5px;
}

.active {
	background-color: $ts-dark;
}

.dark {
	.slides > * {
		background-color: $ts-dark;
	}
	.dot {
		background-color: $ts-midTone;
	}
	.active {
		background-color: $ts-white;
	}
}

.buttonSquare.buttonSquare {
	height: 40px;
	width: 40px;
	padding: 3.5px 7px;
}

.floatingControls {
	padding-bottom: 0;
	.slides {
		align-items: stretch;
		margin: 0;
		position: relative;
		transform: initial;
		> * {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			transition: opacity $transition-medium;
			opacity: 0;
		}
	}
	@for $i from 0 through 4 {
		&.slideActive#{$i} .slides > *:nth-child(#{$i + 1}) {
			opacity: 1;
		}
	}
	$button-margin: 8.5px;
	.controls {
		position: absolute;
		left: #{16px - $button-margin};
		bottom: #{16px - $button-margin};
		@media (min-width: $breakpoint-md) {
			left: #{16px - $button-margin};
			bottom: #{16px - $button-margin};
		}
		@media (min-width: $breakpoint-xl) {
			left: #{48px - $button-margin};
			bottom: #{48px - $button-margin};
		}
	}
}

.responsiveOnMobile {
	@media (max-width: #{$breakpoint-md - 1px}) {
		width: 100%;

		.slides {
			display: block;
			margin-bottom: 0;

			> * {
				width: auto;
			}
		}
		.controls {
			display: none;
		}
	}
	@media (min-width: $breakpoint-md) and (max-width: #{$breakpoint-xl - 1px}) {
		--perSlide: 2 !important;
		overflow: hidden;
	}
}
