@import '../../styles/common';

.slider {
}

.slides {
	display: flex;
	align-items: flex-start;
	margin-bottom: 2rem;
	position: relative;
	transform: translateX(0);
	transition: transform 300ms;
	> * {
		--cardWidth: calc((100% / var(--perSlide, 1)) - 2rem);
		flex: 0 0 var(--cardWidth);
		margin-left: 1rem;
		margin-right: 1rem;
	}
}

.controls {
	display: flex;
	align-items: center;
	justify-content: center;
	button {
		margin: 8.5px;
	}
}

.dots {
	padding-left: 0;
}

.dot {
	width: 10px;
	height: 10px;
	border-radius: 100%;
	background-color: $ts-lightTone;
	display: inline-block;
	list-style-type: none;
	margin: 8.5px;
}

.active {
	background-color: $ts-dark;
}
