@import '../../styles/common';

.testimony {
	align-self: stretch;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: 0;
	margin-left: 0;
	margin-right: 0;
}

.body {
	margin: 0 0 32px;
	font-family: $serif;
	font-size: 28px;
	line-height: 42px;
}

.author {
	font-size: 24px;
	font-style: normal;
}
