@import '../../styles/common';

.testimony {
	align-self: stretch;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: 0;
	margin-left: 0;
	margin-right: 0;
}

.body.body {
	margin: 0 0 32px;
	font-family: $serif;
	font-size: 20px;
	line-height: 30px;

	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 8;
	-webkit-box-orient: vertical;
	@media (min-width: $breakpoint-lg) {
		font-size: 28px;
		line-height: 42px;
	}
}

.author {
	font-size: 24px;
	font-style: normal;
}

.ctas {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-self: stretch;
	> *:first-child {
		margin-bottom: 16px;
	}
}
