@import '../../../../styles/common';

.section:last-child {
	margin-bottom: 0;
}

.section > h5 {
	display: flex;
	justify-content: space-between;
}

.seeAll {
	font-size: 12px;
	font-weight: bold;
	color: $ts-dark;
	text-transform: none;
	letter-spacing: normal;
	background: none;
	border: none;
	padding: 0;
	cursor: pointer;

	&:hover {
		color: $ts-red;
	}
}
.seeAlldbg {
	color: $ts-darkened-white;
}
