@import '../../../../styles/common';

.section:last-child {
	margin-bottom: 0;
}

.section > h5 {
	display: flex;
	justify-content: space-between;
}

.seeAll {
	font-size: 12px;
	color: $ts-dark;
	text-transform: none;
	letter-spacing: normal;

	&:hover {
		text-decoration: none;
	}
}
.seeAlldbg {
	font-size: 12px;
	color: $ts-darkened-white;
	text-transform: none;
	letter-spacing: normal;

	&:hover {
		text-decoration: none;
	}
}
.salmon {
	color: $ts-salmon;
}
