@import '../../styles/common';

.container {
	padding: $tease-padding;
	background-color: $ts-smartPlaylistH;
}

.titleLockup {
	display: flex;
	align-items: center;
	margin-bottom: 16px;
}

.image {
	margin-right: 8px;
}