@import "common";

.template-base {
  > * {
    padding-left: 20%;
    padding-right: 20%;
  }
  .template-base__header {
    background-color: $gray-dark;
    color: $gray-bleached;
    overflow: hidden;
    margin-bottom: 2rem;
  }
}
