$gray-night: #1c1c1d;
$gray-dark: #242426;
$gray-mid: #262627;
$gray-light: #747474;
$gray-lighter: #dbdbdb;
$gray-lightest: #e5e5e5;
$gray-bleached: #eee;

$accent: #3DA88E;

.template-base {
  > * {
    padding-left: 20%;
    padding-right: 20%;
  }
  .template-base__header {
    background-color: $gray-dark;
    color: $gray-bleached;
    overflow: hidden;
    margin-bottom: 2rem;
  }
}

/* Move to Sass module once I figure out how to get them working */
.template-sermon {
  .template-sermon__meta {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    img {
      flex: 0 0 50px;
      margin-right: .75rem;
      border-radius: 100%;
    }
    h1 {
      margin: 0;
    }
  }
  .template-sermon__speakers  {
    margin: 0;
    padding-left: 0;
    li {
      display: inline;
      list-style-type: none;
      font-style: italic;
      opacity: .5;
    }
    li:after {
      content: ", ";
    }
    li:last-child:after {
      content: "";
    }
  }
}
