@import '/src/styles/common';

.card {
	margin-bottom: 16px;
}

.container {
	padding: 16px;
	background-color: $ts-lightTone;
	transition-duration: $transition-medium;

	&:hover {
		background-color: $ts-darkened-lightTone;
	}

	display: flex;
	align-items: center;

	&:hover {
		color: $ts-dark;
	}
}

.heading {
	position: relative;
	z-index: 2;
}

.image {
	flex: 0 0 32px;
	margin-right: 8px;
}

.sponsorName {
	font-size: 20px;
}
